/* Cores de elementos */
/* Cores de elementos */
/* Cores de background */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@font-face {
  font-family: "Gamer";
  font-size: 16px;
  font-weight: 400;
  src: url("./fonts/Gamer.eot") format("eot"), url("./fonts/Gamer.otf") format("otf"), url("./fonts/Gamer.svg") format("svg"), url("./fonts/Gamer.ttf") format("ttf"), url("./fonts/Gamer.woff") format("woff"), url("./fonts/Gamer.woff2") format("woff2");
}

@font-face {
  font-family: "Sadana Square";
  font-size: 16px;
  font-weight: 400;
  src: url("./fonts/SadanaSquare.eot") format("eot"), url("./fonts/SadanaSquare.otf") format("otf"), url("./fonts/SadanaSquare.svg") format("svg"), url("./fonts/SadanaSquare.ttf") format("ttf"), url("./fonts/SadanaSquare.woff") format("woff"), url("./fonts/SadanaSquare.woff2") format("woff2");
}

@font-face {
  font-family: "BMSTA";
  font-size: 16px;
  font-weight: 400;
  src: url("./fonts/BMSTA.eot") format("eot"), url("./fonts/BMSTA.otf") format("otf"), url("./fonts/BMSTA.svg") format("svg"), url("./fonts/BMSTA.ttf") format("ttf"), url("./fonts/BMSTA.woff") format("woff"), url("./fonts/BMSTA.woff2") format("woff2");
}

@font-face {
  font-family: "PixelU";
  font-size: 16px;
  font-weight: 400;
  src: url("./fonts/I-pixel-u.eot") format("eot"), url("./fonts/I-pixel-u.otf") format("otf"), url("./fonts/I-pixel-u.svg") format("svg"), url("./fonts/I-pixel-u.ttf") format("ttf"), url("./fonts/I-pixel-u.woff") format("woff"), url("./fonts/I-pixel-u.woff2") format("woff2");
}

body {
  background-color: #090709;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  margin: 0;
  padding: 0;
  font-family: 'PixelU';
  color: white;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

nav, ul, li {
  margin: 0;
}

a {
  font-family: 'Sadana Square';
  text-decoration: none;
  color: white;
}

input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: 'Sadana Square';
  letter-spacing: .25rem;
  color: white;
}

input::placeholder {
  color: black;
}

button {
  font-family: 'BMSTA';
}

select {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Sadana Square';
  border: 0.1rem solid black;
}

option {
  text-transform: uppercase;
}

img {
  width: 50px;
  height: 50px;
}

p {
  font-family: 'PixelU';
}

span {
  font-family: 'BMSTA';
}

@media screen and (min-width: 600px) {
  img {
    width: 75px;
    height: 75px;
  }
}

.cabecalho {
  display: none;
}

.container {
  margin: 2% auto;
  width: 90%;
}

.conteudo {
  display: flex;
  flex-direction: column;
}

.person {
  order: -1;
}

.person__container {
  border: 0.5rem solid black;
  background-color: #FF3A00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.person__danototal {
  width: 80%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  border: 0.3rem solid black;
  background-color: #FF3A00;
}

.habilidades {
  border: 0.5rem solid black;
  background-color: #FF3A00;
  margin-top: 1%;
}

.habilidades__attributes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: .5rem;
}

.habilidades__mod {
  text-align: center;
  width: 50%;
  margin: 0 auto .25rem;
  border: 0.25rem solid black;
}

.equip {
  position: relative;
  margin-top: 1rem;
  border: 0.5rem solid black;
  background-color: #FF3A00;
}

.add-or-remove {
  position: absolute;
  text-align: right;
  width: 100%;
  right: 0;
}

.fixos {
  text-align: center;
  margin-top: 2rem;
  border: 0.5rem solid black;
  background-color: #FF3A00;
}

.fixos__table {
  display: flex;
  flex-flow: column;
}

.gold-rule {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FF9F00;
  border-top: .25rem solid black;
  padding: .5rem .5rem;
}

.roll-dados {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: center;
}

.roll-dados__dice {
  flex-basis: 40%;
  flex-grow: 1;
  border: 0.5rem solid black;
  background-color: #FF3A00;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .5rem;
}

.roll-dados__type {
  flex-grow: 1;
  flex-basis: content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: black;
  border: 0.25rem solid #FF3A00;
  border-left: .25rem solid black;
  padding: .5rem 0 .5rem .5rem;
  box-sizing: border-box;
}

.roll-dados__add {
  flex-basis: 60%;
  background-color: black;
  border: 0.25rem solid #FF3A00;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.dados {
  margin-top: 1rem;
  background-color: #FF3A00;
  border: 0.5rem solid black;
}

.dados__result {
  padding: .25rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dados__result-item {
  flex-basis: content;
  flex-grow: 1;
  border: 0.1rem solid #090709;
  margin: .25rem;
  display: flex;
  flex-direction: column;
}

.rolling {
  margin-top: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .conteudo {
    flex-flow: row wrap;
    align-items: flex-end;
  }
  .person {
    flex-basis: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  .person__container {
    flex-grow: 2;
  }
  .person__danototal {
    flex-basis: 30%;
    flex-grow: 1;
    height: max-content;
  }
  .habilidades {
    margin: 1rem auto;
    flex-basis: 80%;
    padding: 1.5rem;
  }
  .habilidades__mod {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: .5rem;
  }
  .equip {
    flex-basis: 50%;
  }
  .fixos {
    flex-basis: 40%;
    margin-left: .5rem;
    margin-top: 1rem;
    align-self: flex-start;
  }
  .roll-dados {
    margin: 4rem auto 2rem;
  }
  .roll-dados__dice {
    flex-basis: 30%;
    justify-content: space-around;
  }
  .roll-dados__type {
    flex-basis: 20%;
    border-right: 0.5rem solid rgba(0, 0, 0, 0);
  }
  .roll-dados__add {
    flex-basis: 30%;
    background-color: #FF3A00;
    border: .5rem solid black;
  }
  .dados {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .person__container {
    position: fixed;
    z-index: 3;
    top: 1rem;
    left: -14rem;
    padding: .125rem;
    width: max-content;
    transition: 400ms left;
  }
  .person__container:hover {
    left: 0;
    border-left: 0.5rem solid rgba(0, 0, 0, 0);
  }
  .person__name {
    text-align: center;
  }
  .person__danototal {
    position: fixed;
    z-index: 2;
    top: -2rem;
    right: 1rem;
    width: max-content;
    transition: 400ms top;
  }
  .person__danototal:hover {
    top: 0;
    border-top: 0.5rem solid rgba(0, 0, 0, 0);
  }
  .habilidades {
    flex-basis: 90%;
    padding: .5rem;
  }
  .habilidades__attributes {
    flex-wrap: nowrap;
  }
  .habilidades__mod {
    width: max-content;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding: .25rem 2rem;
  }
  .equip {
    flex-basis: 90%;
    align-self: flex-start;
    margin: 0 auto;
  }
  .add-or-remove {
    position: absolute;
    width: max-content;
    right: 0;
    top: 0;
  }
  .fixos {
    flex-basis: 100%;
  }
  .fixos__title {
    margin-bottom: 1rem;
  }
  .fixos__table {
    flex-flow: row wrap;
  }
  .roll-dados {
    position: fixed;
    margin: 0;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 40%;
    transition: 400ms width;
  }
  .roll-dados:hover {
    width: 60%;
  }
  .roll-dados:hover .roll-dados__dice {
    flex-basis: 20%;
  }
  .roll-dados:hover .roll-dados__add {
    flex-basis: 40%;
  }
  .roll-dados__dice, .roll-dados__type, .roll-dados__add {
    border-bottom: none;
    flex-basis: 15%;
    transition: 400ms flex-basis;
  }
  .dados {
    margin-bottom: 4rem;
  }
  .dados__title {
    margin-bottom: 1rem;
  }
  .dados__result {
    justify-content: flex-start;
  }
  .dados__result-item {
    max-width: 8rem;
  }
  .rolling {
    position: fixed;
    bottom: 0;
    right: 0;
    width: max-content;
  }
}

.person__name {
  width: 100%;
  padding: .5rem;
  font-size: 1.5rem;
}

.person__title {
  font-size: 1.3rem;
  color: white;
  text-align: center;
  letter-spacing: .2rem;
}

.person__number {
  font-family: 'Gamer';
  font-size: 2rem;
  margin-top: -.3rem;
  letter-spacing: .2rem;
}

.habilidades__title {
  text-align: center;
}

.habilidades .attributes__skill {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .25rem;
  padding: .25rem;
  border: 0.1rem solid black;
}

.habilidades .attributes__input {
  margin-top: .5rem;
  font-family: 'BMSTA';
  text-align: center;
  width: 100%;
}

.equip__title {
  text-align: center;
}

.equip__inventory {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: .5rem;
}

.equip__item {
  padding: .7rem;
  border: 0.1rem solid black;
  margin: .25rem;
}

.add-or-remove__button {
  border: 0.25rem solid black;
  background-color: #FF3A00;
  padding: .25rem;
  width: 25%;
  margin-right: 1rem;
}

.fixos__item {
  padding: .5rem 0;
  margin: .25rem .25rem;
  border: 0.1rem solid black;
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-around;
}

.fixos__attr {
  font-family: 'Sadana Square';
}

.gold-rule__input {
  width: 50%;
  font-size: 1.5rem;
  text-align: right;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.roll-dados__number {
  padding: .5rem .5rem;
  font-size: 1.5rem;
}

.roll-dados__button {
  font-size: 2rem;
  color: #FF3A00;
  background-color: black;
  border: none;
}

.roll-dados__qtd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #FF3A00;
  font-family: 'PixelU';
  font-size: 2rem;
}

.roll-dados__qtd-number {
  width: 50%;
  text-align: right;
  margin-right: 1rem;
  letter-spacing: 1rem;
}

.dados__title {
  text-align: center;
}

.dados__result-item--text {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  font-family: 'Sadana Square';
  padding: .5rem;
  color: white;
  background-color: black;
  margin-bottom: .52rem;
}

.dados__result-item--dado {
  font-family: 'Sadana Square';
  font-size: 1.5rem;
  letter-spacing: .25rem;
  color: #FF3A00;
}

.dados__result--type {
  font-family: 'Sadana Square';
  font-size: 1.5rem;
  padding: .25rem .5rem;
  display: flex;
  justify-content: space-between;
}

.dados__result-total {
  background-color: black;
  color: white;
  font-family: 'Sadana Square';
  font-size: 2rem;
  margin: .25rem;
  padding: .25rem 0;
  text-align: center;
}

.rolling__title {
  background-color: black;
  height: max-content;
  padding: .25rem;
  border: 0.25rem solid #FF3A00;
  border-right: 0.25rem solid rgba(0, 0, 0, 0);
  opacity: .5;
}

.rolling__button {
  background-color: black;
  border: 0.25rem solid #FF3A00;
}

.rolling__img {
  padding: .5rem;
}

@media screen and (min-width: 600px) {
  .roll-dados__button {
    order: 2;
    background-color: rgba(0, 0, 0, 0);
    color: black;
  }
  .roll-dados__qtd {
    order: 1;
    color: black;
    width: 100%;
    justify-content: space-around;
  }
  .roll-dados__qtd-number {
    order: 2;
    text-align: left;
  }
  .habilidades .attributes__skill {
    padding: .5rem;
    margin: .5rem;
  }
  .habilidades .attributes__input {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1000px) {
  .roll-dados__img {
    width: 50px;
    height: 50px;
  }
  .equip__title {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }
  .equip__inventory {
    display: flex;
    flex-flow: row;
  }
  .equip__item {
    flex-basis: 30%;
    text-align: center;
    max-width: 15rem;
  }
  .add-or-remove__button {
    background-color: black;
    color: #FF3A00;
    font-size: 1.5rem;
    border-top: none;
    padding: .5rem;
    width: 8rem;
  }
  .fixos__item {
    flex-basis: 23%;
    max-width: 12rem;
    flex-wrap: nowrap;
  }
  .fixos__attr {
    font-family: 'Sadana Square';
  }
  .rolling__title {
    display: none;
  }
  .rolling__button {
    width: 75px;
    height: 75px;
    transition: 400ms width, 400ms height;
  }
  .rolling__img {
    width: 50px;
    height: 50px;
    transition: 400ms width, 400ms height;
  }
  .rolling:hover .rolling__button {
    width: 100px;
    height: 100px;
  }
  .rolling:hover .rolling__img {
    width: 75px;
    height: 75px;
  }
}
